/* -- Basic Rules -- */

:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    font-size: 1.25rem;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

/* -- Dynamic Rules -- */

@media only screen and (min-width: 400px) {
    img {
        max-width: 350px;
    }
}

@media only screen and (max-width: 300px) {
    img {
        min-width: 200px;
    }
}

/* -- Modules Section Rules -- */

.link-normal {
    text-decoration: none;
}

.tile {
    display: block;
    clear: both;
}

/* palette colors */

/*
medium turquoise 117, 221, 221
lemon yellow crayola 246, 254, 170
black 0, 0, 0
*/

