:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
palette colors
medium turquoise -- 117, 221, 221
lemon yellow crayola -- 246, 254, 170
black -- 0, 0, 0
*/

/* Header */

.page-header {
    padding: .4em 1em;
}

.title > h1 {
    color: #333;
    font-size: 10rem;
    font-family: 'Roboto Slab', serif;
}

/* Navigation */

/* Body */

body {
    background-color: rgb(117, 221, 221);
    font-family: Helvetica, Arial, sans-serif;
}

body * + * {
    margin-top: 1.5em;
}
